{% extends 'layout/base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block title %}
Заработок в интернете | Mocerts
{% endblock %}
{% block content %}
<!--<video autoplay muted loop id="myVideo">-->
<!--    <source src="{% static 'img/file.mp4' %}" type="video/mp4">-->
<!--</video>-->
<main class="main">
    <div class="main__container">
        <div class="main__left">
            <a href="#">
                <article class="main__left--article">
                    <header class="main__article--header">
                        Заработок в интернете с нами
                    </header>
                    <p class="main__article--text" style="line-height: 1;">
                        Сайт посвящен заработку в интернете. Читай!
                        И узнаешь, как можно заработать в интернете!
                        Все новые виды заработка в интернете
                    </p>
                    <p href="#" class="main__article--more">читать...</p>
                </article>
            </a>
            <a href="#">
                <article class="main__left--article">
                    <header class="main__article--header">
                        Заработок в интернете с нами
                    </header>
                    <p class="main__article--text" style="line-height: 1;">
                        Сайт посвящен заработку в интернете. Читай!
                        И узнаешь, как можно заработать в интернете!
                        Все новые виды заработка в интернете
                    </p>
                    <p href="#" class="main__article--more">читать...</p>
                </article>
            </a>
            <a href="#">
                <article class="main__left--article">
                    <header class="main__article--header">
                        Заработок в интернете с нами
                    </header>
                    <p class="main__article--text" style="line-height: 1;">
                        Сайт посвящен заработку в интернете. Читай!
                        И узнаешь, как можно заработать в интернете!
                        Все новые виды заработка в интернете
                    </p>
                    <p href="#" class="main__article--more">читать...</p>
                </article>
            </a>
        </div>
        <div class="main__middle">
            <video controls="controls">
                <source src="https://video.wixstatic.com/video/1694f8_029fe95547cf466b9e8433baa0fa7eda/1080p/mp4/file.mp4"
                        type="video/mp4">
            </video>
            <span class="main__info">
                Сайт находится на доработке запустим 1 июня на mocerts.com
            </span>
        </div>
        <div class="main__right">
            <a href="#">
                <article class="main__left--article">
                    <header class="main__article--header">
                        Заработок в интернете с нами
                    </header>
                    <p class="main__article--text" style="line-height: 1;">
                        Сайт посвящен заработку в интернете. Читай!
                        И узнаешь, как можно заработать в интернете!
                        Все новые виды заработка в интернете
                    </p>
                    <p href="#" class="main__article--more">читать...</p>
                </article>
            </a>
            <a href="#">
                <article class="main__left--article">
                    <header class="main__article--header">
                        Заработок в интернете с нами
                    </header>
                    <p class="main__article--text" style="line-height: 1;">
                        Сайт посвящен заработку в интернете. Читай!
                        И узнаешь, как можно заработать в интернете!
                        Все новые виды заработка в интернете
                    </p>
                    <p href="#" class="main__article--more">читать...</p>
                </article>
            </a>
            <a href="#">
                <article class="main__left--article">
                    <header class="main__article--header">
                        Заработок в интернете с нами
                    </header>
                    <p class="main__article--text" style="line-height: 1;">
                        Сайт посвящен заработку в интернете. Читай!
                        И узнаешь, как можно заработать в интернете!
                        Все новые виды заработка в интернете
                    </p>
                    <p href="#" class="main__article--more">читать...</p>
                </article>
            </a>
        </div>
    </div>
    <div class="main__banner">
        <img src="{% static 'img/banner.webp' %}" alt="Banner">
    </div>
</main>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
<script src="{% static 'js/main.js' %}" defer></script>
{% endblock %}