{% extends 'layout/base.html' %}
{% block body_class %}
    <body>
{% endblock %}
{% block header_links %}
    <li class="menu-link"><a class="active-link" href="{% url 'main:main_page' %}">Home</a></li>
    <li class="menu-link"><a href="{% url 'main:select_certificate' %}">Create certificate</a></li>
    <li class="menu-link"><a href="#">My certificates</a></li>
    <li class="menu-link"><a href="{% url 'main:manual' %}">Instructions</a></li>
{% endblock %}
{% block content %}
    <div class="video-content">
        <iframe src="https://www.youtube.com/embed/p29YU2UZOnM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="500" height="300" frameborder="0"></iframe>
    </div>
    <div class="video-btn">
         <div class="btn-manual"><a href="{% url 'main:manual' %}">read manual</a></div>
         <div class="btn-instruction"><a href="{% url 'main:manual' %}">instructions</a></div>
    </div>
{% endblock %}