{% extends 'layout/base.html' %}
{% load static %}
{% block header_links %}

{% endblock %}
{% block content %}
{% load i18n %}
<div class="container">
    <h2>{% trans 'Вступление' %}:</h2>
    <p>Как 1$ превратить в 100$ за несколько дней?</p>
    <ol>
        <li>Пойти в зал Игровых Автоматов и все там проиграть - нет!</li>
        <li>Делать грамотные ставки на спорт и там все проиграть - тоже не вариант!</li>
        <li>Онлайн Казино - сразу нет!</li>
        <li>Может Валютная биржа - ага! Купим 1800000 Венесуэльских Боливаров</li>
        <li>Вложится в Финансовую Пирамиду - и отдать 1$ Мавроди(так он умер, зачем ему деньги)</li>
    </ol>
    <p>
        Мы предлагаем Вам новую идею! Это система обмена Денежными сертификатами.
        Мы взяли все лучшее, из нескольких способов обогащения и объединили в одну простую систему. Это небольшая смесь
        из
        кассы взаимопомощи с элементами пирамиды и денежных переводов.
        Зачем куда то вкладывать если можно организовать свою маленькую `финансовую пирамидку`
        Ну для начала, маленькую! А вообще масштаб устанавливаете Вы сами!
    </p>
    <p>
        Самое главное, что это будет Ваша личная пирамидка, и Вы сможете контролировать ее на всех этапах. И Вы сможете
        начать имея всего 1$. Также мы будем раздавать предоплаченные сертификаты, в качестве рекламной акции.Вы сможете
        начать не вкладывая ни копейки.
    </p>
    <h2>Шаг 1:</h2>
    <p>Вы получили наш денежный сертификат, или сами создали его. Что с ним делать?
        В каждом сертификате есть три имени - три уровня владения.</p>
    <p>Например:</p>
    <ol>
        <li>Александр</li>
        <li>Анастасия</li>
        <li>Марисабель</li>
    </ol>
    <p>
        У каждого Сертификата есть Номинал​ (допустим у нас сертификат в 1$ - это его стоимость).
        Для активации этого сертификата Вам необходимо перевести сумму равную номиналу человеку чье имя расположено на
        первой строчке т.е.
    </p>
    <p>Перевести 1$ Александру.(зачем! узнаете дальше) смотрите pic.1</p>
    <img class="manual_img_1" src="{% static 'img/manual_cert1.webp' %}" alt="">
    <span class="ris1">РИС.1 </span>
    <h2>Шаг 2:</h2>
    <p>После того, как вы перевели 1$ Александру данный сертификат аннулируется и вместо него Вы получаете пять новых
        сертификатов, но только Александра там уже нет(он получил свои деньги) смотрите pic.2</p>
    <p>Первую строчку теперь занимает Анастасия, вторую Марисабель, а третью Вы, как держатель сертификата.</p>
    <p>Вот так:</p>
    <ol>
        <li>Анастасия</li>
        <li>Марисабель</li>
        <li>Ваше имя</li>
    </ol>
    <p>И, в этот момент Вы владете пятью сертификатами по 1$ (они отличаются только номерами), т.е гипотетически у Вас
        уже
        5$</p>
    <div class="mesh_container">
        <div class="stack_imgs">
            <img class="stack_imgs_1" src="{% static 'img/manual_cert1.webp' %}" alt="">
            <img class="stack_imgs_2" src="{% static 'img/manual_cert1.webp' %}" alt="">
            <img class="stack_imgs_3" src="{% static 'img/manual_cert1.webp' %}" alt="">
            <img class="stack_imgs_4" src="{% static 'img/manual_cert1.webp' %}" alt="">
            <img class="stack_imgs_5" src="{% static 'img/manual_cert1.webp' %}" alt="">
        </div>
        <div class="cert_list">
            <ol>
                <li>№52321145322563 отправлен</li>
                <li>№52321145322564 получен</li>
                <li>№52321145322565 оплачен</li>
                <li>№52321145322566 получен</li>
                <li>№52321145322567 неотправлен</li>
            </ol>
        </div>
    </div>
    <h2>Шаг 3:</h2>
    <p>
        Теперь самое главное! Вам необходимо отправить эти сертификаты пятерым своим друзьям и знакомым(как отправлять
        написано в подробной инструкции).
        После получения сертификатов, эти пять человек повторяют Ваши шаги №1 и 2 т.е. Каждый получивший переводит 1$
        Анастасии,
        после чего каждый получает по пять новых сертификатов. Естественно Настенька покидает нас(свои деньги она
        получила)
        и каждый,
        независимо друг от друга получает по пять новых сертификатов где первую строчку занимает Марисабель, вторую Вы,
        а на
        третьей располагается Ваш друг. (pic.3)
        Это все, что Вам нужно сделать. С этого момента Вы можете только наблюдать.
    </p>

    <p>
        Итак!!! Теперь в системе 25 сертификатов с Вашим именем на второй строчке и гипотетически у Вас уже 25$ (pic.3)
    </p>
    <h2>Шаг 4:</h2>
    <p>
        Ну и дальше Друзья Ваших друзей (получается 25 человек) каждый, независимо друг от друга повторяют Ваши шаги 1 и
        2
        т.е. переводят по 1$ Марисабель и получают вместо одного , сертификата пять. Естественно Марисабель нас покидает
        и Ваше имя смещается на первую позицию. (pic.4)
        Теперь в системе 125 сертификатов с Вашим именем на первой строчке.
        Гипотетически у Вас 125$. Эти 25 друзей отправляют свои пять сертификатов, каждый своим пяти друзьям.
        А те, в свою очередь, каждый, переводят Вам по 1$ (теперь Вы знаете зачем переводить 1$).
        С этого момента Ваши гипотетические доллары превращаются в практические.
    </p>
    <h2>Итог:</h2>
</div>

{% endblock %}