{% extends 'layout/base.html' %}
{% load static %}
{% block header_links %}
{% endblock %}
{% block content %}
<div class="documents-title">To create a new certificate just click on the image with the price you are interested in
</div>
<div class="container">
    <div class="documents-wrap">
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=1 %}">
                <img src="{% static 'img/sert-1.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=5 %}">
                <img src="{% static 'img/sert-2.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=10 %}">
                <img src="{% static 'img/sert-3.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=20 %}">
                <img src="{% static 'img/sert-4.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=50 %}">
                <img src="{% static 'img/sert-5.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=100 %}">
                <img src="{% static 'img/sert-6.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=200 %}">
                <img src="{% static 'img/sert-7.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=500 %}">
                <img src="{% static 'img/sert-8.png' %}" alt="">
            </a>
        </div>
    </div>
</div>
{% endblock %}